@page "/servers"


@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<h2>
    Servers
    <a href="/servers/add" class="btn btn-primary m-2" style="width:120px;">Add</a>
</h2>
<br />
<CityListComponent 
    @ref="cityListComponent"
    @rendermode="InteractiveServer"    
    OnCitySelected="HandleCitySelected" 
/>
<br />

@*
<ServerComponent  />
@* <ServerComponent @rendermode="InteractiveServer" />
usando aqui só qdo lembrar de usar.
 *@
<br />
<SearchComponent 
    @ref="searchComponent"
    @rendermode="InteractiveServer" 
    OnSearch="HandleFilterSearch" 
 />

<ServerListComponent 
    @rendermode="InteractiveServer"
    CityName="@SelectedCity"
    SearchFilter="@SearchFilter" />
<hr />


@code {

    private string SelectedCity = "São Paulo";
    private string SearchFilter = "";

    private CityListComponent? cityListComponent;
    private SearchComponent? searchComponent;

    private void HandleCitySelected(string city)
    {
        SelectedCity = city;
        SearchFilter = string.Empty;
        searchComponent?.ClearFilter();
    }

    private void HandleFilterSearch(string filter)
    {
        SearchFilter = filter;
        cityListComponent?.ClearSelectedCity();
    }
}
