@inject NavigationManager NavigationManager
<h4>Found: @servers.Count</h4>
<hr />

<table class="table table-striped">
    <RepeaterComponent Items="servers">
        <Header>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>City</th>
                <th>Status</th>
                <th>Users Online</th>
                <th colspan="3">Actions</th>
            </tr>
        </Header>
        <Row Context="server">
            <ServerComponent Server="server" />
        </Row>
        <Empty>
            <tr>
                <td colspan="6">No Servers found</td>
            </tr>
        </Empty>
    </RepeaterComponent>
</table>

@code {

    [Parameter]
    public string? CityName { get; set; }

    [Parameter]
    public string SearchFilter { get; set; } = "";

    private string SelectedCity = "";
    private List<Server>? servers;

    protected override void OnParametersSet()
    {
        if (!string.IsNullOrWhiteSpace(SearchFilter))
        {
            servers = ServersRepository.SearchServers(SearchFilter);
        }
        else if (!string.IsNullOrWhiteSpace(CityName))
        {
            SelectedCity = CityName;
            servers = ServersRepository.GetServersByCity(CityName);
        }
        else
        {
            servers = ServersRepository.GetServers();
        }

    }


}
